{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
<form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Gérer les sites</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mb-2">
                <h4>Filtrer les sites :</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mb-5">
                <label for="searchSites">Le nom contient :</label>
                <input type="text" name="search" id="searchSites" placeholder="rechercher">
                <button type="button" id="boutonRecherche" class="btn btn-primary" >Rechercher</button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for site in sites %}
        <tr class="ligneSite">
            <td class="sites"><input type="text" class="inputNomSite" value="{{ site.getNomSite() }}" disabled></td>
            <td><button type="submit" id="boutonModifier" class="btn btn-warning" name="{{ site.id }}" value="Modifier">Modifier</button>
                <button type="submit" id="boutonSupprimer" class="btn btn-danger" value="Supprimer" >Supprimer</button></td>
        </tr>
    {%  endfor %}
        <tr id="derniereLigne">

            <td><input type="text" name="nomSite" id="nomSite" placeholder="ville" size="10"></td>
            <td> <button type="submit" value="Ajouter" id="boutonAjouter"  class="btn btn-success">Ajouter</button></td>

        </tr>
        </tbody>
    </table>
    </div> </div>
    </div>
</form>
{% endblock %}
