{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les sites</h1>
    <h4>Filtrer les sites :</h4>
    <label for="searchSites">Le nom contient :</label>
    <input type="search" name="searchSites" id="searchSites">
    <input type="submit" value="rechercher">
    <table>
        <tr>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
    {% for site in sites %}
        <tr class="ligneSite">
            <td><input type="text" class="inputNomSite" value="{{ site.getNomSite() }}" disabled></td>
            <td><span class="modificationSite" onclick="modificationSite(this)">Modifier</span> - <input type="submit" value="Supprimer"></td>
        </tr>
    {%  endfor %}
        <tr>

            <td><input type="text" name="nomSite" id="nomSite" placeholder="ville" size="10"></td>
            <td><input type="submit" value="Ajouter"></td>
        </tr>



    </table>
{% endblock %}