{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les sites</h1>
    <h4>Filtrer les sites :</h4>
    <form role="search" method="post" action="{{ path("admin_sites_rechercher") }}">
    <label for="searchSites">Le nom contient :</label>
<input type="text" name="search" id="searchSites" placeholder="rechercher">
        <button type="submit">Rechercher</button>
    </form>
    <table>
        <tr>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
    {% for site in sites %}
        <tr class="ligneSite">
            <td class="sites"><input type="text" class="inputNomSite" value="{{ site.getNomSite() }}" disabled></td>
            <td><span class="modificationSite" onclick="modificationSite(this)">Modifier</span> - <input type="submit" value="Supprimer"></td>
        </tr>
    {%  endfor %}
        <tr id="derniereLigne">

            <td><input type="text" name="nomSite" id="nomSite" placeholder="ville" size="10" value=""></td>
            <td><input type="submit" value="Ajouter" onclick="ajouterSite()"></td>
        </tr>
    </table>


    <script>

        $.ajax({
            type: "GET",
            url: "{{ path('admin_sites_rechercher') }}",
            dataType: "json",
            data: {search: input},
            cache: false,
            success: function (response) {
                $('.sites').html(response.classifiedList);
                $('.inputNomSite').hide();
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });


    </script>


{% endblock %}
