html {
    position: relative;
    min-height: 100%;
}
body {

    margin-bottom: 60px; /* Margin bottom by footer height */

}

main{
    height:100%;
    padding: 25px;
}

.footer{
    color: white;
    text-align: center;
    background-color: #222222;
    line-height: 60px; /* Vertically center the text there */
}


.navbar-brand{
    margin-left:10px;
}


p{
    text-align: justify;
}
h1{text-align: center;
    margin: 10px 0px 25px 0px;}

.idUser{
    text-align: center;
}

#iconeLieu {

  /*TODO*/

}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 100px; /* Vertically center the text there */
    background-color: #343a40;
}


.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}


