

body,html {
    height: 100%;
}

main{
    /*height:100%;*/
    padding: 25px;
}


.navbar-brand{
    margin-left:10px;
}


p{
    text-align: justify;
}
h1{text-align: center;
    margin: 10px 0px 25px 0px;}

.idUser{
    text-align: center;
}

#iconeLieu {

  /*TODO*/

}


.container {
    width: auto;

    padding: 0 15px;
}


.navbar-brand{font-family: 'Archivo Black', sans-serif;}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
}
.container-fluid {
    height: 100%;
    min-height: 100%;
}