{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les villes</h1>
    <h4>Filtrer les villes :</h4>
    <label for="searchVilles">Le nom contient :</label>
    <input type="search" name="searchVilles" id="searchVilles">
    <input type="submit" value="rechercher">
    <table>
        <tr>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Actions</th>
        </tr>
        {% for ville in villes %}
            <tr>

                <td id="caseNomVille"><input type="text" id="nomVille" value="{{ ville.getNomVille() }}" disabled></td>
                <td id="caseCodePostalVille"><input type="number" id="codePostal" value="{{ ville.getCodePostal() }}" disabled></td>
                <td><span id="modificationVille">Modifier</span> - <input type="submit" value="Supprimer"></td>
            </tr>
        {%  endfor %}
        <tr>
            <td><input type="text" name="nomVille" id="nomVille" placeholder="ville" size="10"><td>
            <td><input type="number" name="codePostal" id="codePostal" min="10000" max="99999" step="1" placeholder="code postal" size="5"></td>
            <td><input type="submit" value="Ajouter"></td>
        </tr>

    </table>

{% endblock %}