{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les villes</h1>
    <p>Liste des villes :</p>
{% for ville in villes %}

    <p>{{ ville.getNomVille }} - Code Postal : {{ ville.getCodePostal() }}</p>

    {%  endfor %}


{% endblock %}