{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les villes</h1>
    <h4>Filtrer les villes :</h4>
    <label for="searchVilles">Le nom contient :</label>
    <input type="search" name="searchVilles" id="searchVilles">
    <input type="submit" value="rechercher">
    <table id="" class="table  mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ville in villes %}
                <tr class="ligneVille" scope="row">
                    <td><input type="text" class="inputNomVille form-control col-8" value="{{ ville.getNomVille() }}" disabled /></td>
                    <td><input type="text" class="inputCodePostalVille form-control col-8" value="{{ ville.getCodePostal() }}" disabled></td>
                    <td><span class="modificationVille btn btn-info" onclick="modificationVille(this)">Modifier</span> - <input class="btn btn-danger" type="submit" value="Supprimer"></td>
                </tr>
            {%  endfor %}
            <tr scope="row">
                <td><input class="form-control col-8" type="text" name="nomVille" id="nomVille" placeholder="ville" size="10"><td>
                <td scope="col"><input class="form-control col-8" type="text" name="codePostal" id="codePostalVille" min="10000" max="99999" step="1" placeholder="code postal" size="5"></td>
                <td scope="col"><input class="btn btn-info" type="submit" value="Ajouter"></td>
            </tr>
        </tbody>
    </table>

{% endblock %}