{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Afficher le profil</h1>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h4 class="idUser">{{ app.user.pseudo }}</h4>

    {% endif %}



{% endblock %}