{% extends 'base.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block main %}
    <h1 class="text-center">Gérer le profil</h1>

    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(participantForm) }}


{% endblock %}
