{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}






    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto m-auto ">
                <div class="card card-login bg-light shadow p-3 mb-5 bg-white rounded ">
                    <div class="card-body">
                        <h2 class="card-title text-center">Connexion</h2>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                        {% endif %}


                        <form class="form-login" method="post">
                            <div class="form-group">
                                <label for="username">Identifiant</label>
                                <input type="text" id="username" class="form-control" placeholder="Identifiant mail"
                                       name="_username" required autofocus>

                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control" placeholder="Mot de passe"
                                       name="_password" required>

                            </div>

                            

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input"
                                       checked/>
                                <label for="remember_me" class="form-check-label">Se souvenir de moi</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se connecter
                            </button>
                            <hr class="my-4">
                            <div>
                                <a href="#">Mot de passe oublié</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}